<h1>{{title}}</h1>
<form action="/data/search/productid/" method="post">
        <label for="productId">Enter Product ID:</label>
        <input type="text" id="productId" name="productId" required>
        <button type="submit">Search</button>
</form>