<h1>{{title}}</h1>
<form action="/data/search/prdName/" method="post">
    <label for="productName">Enter Product Name:</label>
    <input type="text" id="productName" name="productName" required>
    <button type="submit">Search</button>
</form>